.input {
    display: flex;
    gap: 1rem;
    padding: .5rem;
    margin-block: 1.5rem;
    border-radius: 8px;
    width: max-content;

    .inp {
        padding-inline: 1rem;
        background-color: transparent
    }
}