.rating{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .percentage{
        position: absolute;
        display: flex;
        .cent{
            font-size: 10px;
        }
    }
}