@use '../../scss/global/colors'as *;
@use '../../scss/utils/functions'as fn;

.button {
    width: max-content;
    padding: .6rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-size: fn.rem(14);
    transition: all 500ms ease-in-out;
    color: #000;

    &:hover {
        cursor: pointer;
    }

    @media screen and (min-width: 600px) {
        padding: .8rem;
        gap: .5rem;
        font-size: fn.rem(16);
    }

    @media screen and (min-width: 1440px) {
        font-size: fn.rem(18);
    }

    &.watch {
        background-color: red;
        color: #fff;

        &:hover {
            background-color: rgb(131, 17, 17);
        }
    }
}