@use '../../scss/global/colors'as *;
@use '../../scss/utils/functions'as fn;
@use '../../scss/utils/fonts'as *;


.CustomButton {
    width: max-content;
    padding: .6rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-size: fn.rem(14);
    transition: all 500ms ease-in-out;
    font-weight: 500;
    color: #666;

    &:hover {
        cursor: pointer;
    }


    @media screen and (min-width: 600px) {
        padding: .8rem;
        gap: .5rem;
        font-size: fn.rem(16);
    }



}


.light {
    .CustomButton {

        &:hover {
            background-color: #999;
        }

        &.genre {
            background-color: $Dark-text;
            color: rgba(0, 0, 0, .5);

            &:hover {
                background-color: $Light-headings;
                color: rgba(255, 255, 255, .85);
            }
        }

        &.search {
            background-color: $Dark-headings;
            color: #aaa;
        }

        &.activeGenre {
            background-color: $Light-headings;
            color: #eee;
        }

        &.searchIcon {
            background-color: transparent;
            border: 1px solid $Primary-color;
            color: #fff;
            padding: .3rem 1rem;

            &:hover {
                background-color: transparent;
                transform: scale(1.03);
            }

            @media screen and (min-width: 600px) {
                font-size: fn.rem(16);
                color: #fff;
            }
        }

        &.reload {
            background-color: $Light-headings;
            color: #eeee;
        }
        &.watch {
            padding: .65rem 1.5em;
            background-color: rgb(255, 0, 0);
            color: #eee;

            &:hover {
                color: rgb(255, 0, 0);
                background-color: #eee;
            }
        }

    }

}

.dark {
    .CustomButton {

        &:hover {
            background-color: #999;
        }

        &.genre {
            background-color: $Dark-altbg;
            color: #555;

            &:hover {
                background-color: $Dark-headings;
            }
        }

        &.search {
            background-color: $Light-headings;
            color: #eee;
        }

        &.activeGenre {
            background-color: $Dark-headings;
        }

        &.searchIcon {
            background-color: transparent;
            border: 1px solid $Primary-color;
            color: #fff;
            padding: .3rem 1rem;

            &:hover {
                background-color: transparent;
                transform: scale(1.03);
            }

            @media screen and (min-width: 600px) {
                font-size: fn.rem(16);
                color: #fff;
            }
        }

        &.reload {
            background-color: $Dark-headings;
            color: #111;
        }

        &.watch {
            padding: .65rem 1.5em;
            background-color: rgb(255, 0, 0);
            color: #eee;

            &:hover {
                color: rgb(255, 0, 0);
                background-color: #eee;
            }
        }
    }
}