@use '../../../scss/utils/functions'as fn;
@use '../../../scss/utils/fonts'as *;

.movieHero {
    position: relative;
    display: flex;
    width: 100%;
    height: fn.rem(400);

    @media screen and (min-width: 768px) {
        height: fn.rem(550);
    }

    .backDrop {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .overlay {
        position: absolute;
        inset: 0;
        background:
            linear-gradient(transparent, rgba(0, 0, 0, .8), rgba(0, 0, 0, 1));
        width: 100%;

        .overlayContent {
            position: absolute;
            bottom: 0;
            color: #fff;
            display: flex;
            align-items: flex-end;
            gap: 1rem;

            @media screen and (min-width:768px) {
                gap: 3rem;
            }

            .imgPoster {
                width: 35%;
                height: 35%;
                object-fit: contain;
                border-radius: 10px 10px 0 0;

                @media screen and (min-width:1024px) {
                    width: fn.rem(350);
                    height: fn.rem(500);
                    object-fit: cover;
                }
            }

            .content {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                position: relative;
                gap: .5rem;
                margin-bottom: 1rem;

                .title {
                    font-size: fn.rem(14);

                    @media screen and (min-width:768px) {
                        font-size: fn.rem(24);
                    }

                    @media screen and (min-width:1200px) {
                        font-size: fn.rem(32);
                    }
                }

                .overView {
                    display: none;
                    margin-bottom: .5rem;
                    max-width: fn.rem(800);

                    @media screen and (min-width:768px) {
                        display: flex;
                    }
                }

                .Genre {
                    display: none;
                    margin-bottom: .5rem;
                    font-family: $secondary-font;
                    gap: .5rem;

                    @media screen and (min-width:500px) {
                        display: flex;
                        flex-wrap: wrap;
                    }

                    .GenreList {
                        border: 1px solid #fff;
                        padding: .5rem 1rem;
                    }
                }

                .btnPlay {
                    font-size: fn.rem(20);

                    @media screen and (min-width:768px) {
                        font-size: fn.rem(25);
                    }
                }
            }
        }
    }

    .teaserOverlayContainer {
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0, 0, 0, .85);
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      

        

        .teaserOverlay {
            width: 100%;
            height: 100%;
            @media screen and (min-width:1440px) {
                width: 76%;
            }
        }
    }
}