















/*
@use '../../scss/utils/functions'as fn;
@use '../../scss/utils/fonts'as *;

.people {
    display: flex;
    gap: 2rem;

    .person {
        position: relative;
        width: fn.rem(200);
        height: fn.rem(200);
        border-radius: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:hover {
            cursor: pointer;
        }

        .img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }

        .overlay {
            position: absolute;
            width: fn.rem(200);
            height: fn.rem(200);
            color: #fff;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, .7);
            font-family: $secondary-font;
            inset: 0;
            transition: all 500ms ease-in-out;

            &:hover {
                opacity: 0;
            }

            .content {
                text-align: center;

                margin-top: 8rem;
                opacity: .9;
            }
        }
    }
}
*/