.load {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .icns {
        font-size: 16px;

        @media screen and (min-width:768px) {
            font-size: 20px;
        }
    }
}