@use '../utils'as *;
@use './colors'as *;
@use '../utils/functions'as fn;


html {
  box-sizing: border-box;
  font-size: 100%;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-stroke-width: 0.1px;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}


a,
button {
  display: flex;
  align-items: center;
  justify-content: center;
}

input,
textarea,
select {
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

a,
a:visited,
a:active {
  cursor: pointer;
  letter-spacing: fn.rem(0.2);
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}

ul {
  list-style: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

li {
  letter-spacing: 0.5;
}

body {
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  background-color: $Light-bg;
  font-weight: 400;

  .light {
    background-color: $Light-bg;
    color: $Light-headings;
  }

  .dark {
    background-color: $Dark-bg;
    color: $Dark-text;
  }
}


.light {
  .bg {
    background-color: #fff;
    box-shadow: -2px -3px 6px 0px #eee;
    -webkit-box-shadow: -2px -3px 6px 0px #eee;
    -moz-box-shadow: -2px -3px 6px 0px rgba(122, 118, 118, 0.75);
  }

  .textFixed {
    color: $Light-text;
    font-weight: 400;
  }


}

.dark {
  .bg {
    background-color: $Dark-bg;
  }

  .textFixed {
    color: $Dark-headings;
  }

}