.con {
    position: relative;

    .Wrapper {
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        scroll-behavior: smooth;
        display: flex;
        align-items: center;

        .content {
            display: flex;
        }
    }

    .WrapperAlt {
        @media screen and (min-width: 1024px) {
            margin-inline: 2.5rem;
        }

    }

    .Wrapper::-webkit-scrollbar {
        display: none;
    }


    .arr {
        position: absolute;
        top: 50%;
        font-size: 2.5rem;
        opacity: .3;
        transition: all 500ms ease-in-out;
        display: none;


        @media screen and (min-width: 1024px) {
            display: flex;
        }

        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }



    .arrLeft {
        left: -1.5rem;
    }

    .arrRight {
        right: -1.5rem;
    }

    .altarr {
        left: -.5rem;

        @media screen and (min-width: 1024px) {
            display: flex;
            top: 10%;
        }
    }

    .altarrRight {
        right: -.5rem;

        @media screen and (min-width: 1024px) {
            display: flex;
            top: 10%;
        }
    }
}