@use '../../scss/global/colors'as *;
@use '../../scss/utils/functions'as fn;

.fixed {
    position: fixed;
    bottom: -1px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: $Dark-bg;
    padding: 1rem 1rem;
    z-index: 10;

    .ul {
        .li {
            .lists {
                font-size: fn.rem(25);
                font-weight: 700;

                .spann {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .icon{
                        font-size: fn.rem(23);
                        @media screen and (min-width: 500px) {
                            font-size: fn.rem(30);
                        }
                    }
                    .text {
                        font-size: fn.rem(12);
                        font-weight: 300;

                        @media screen and (min-width: 500px) {
                            font-size: fn.rem(14);
                        }
                    }
                }
            }

            .active {
                color: $Primary-color;
            }

        }
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}