.TrendingResults {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-top: 2rem;


    .trendingCards {
        display: flex;
    }
}

.TrendingResults::-webkit-scrollbar {
    display: none;
}