@use '../../scss/global/_colors.scss'as *;
@use '../../scss/utils/functions'as fn;
@use '../../scss/utils/fonts'as *;

.card {
    display: flex;
    gap: 1.5rem;

    .displayCard {
        width: fn.rem(250);
        position: relative;
        border-top-right-radius: 30px;

        &:hover {
            cursor: pointer;
        }

        @media screen and (min-width: 768px) {
            width: fn.rem(310);
        }

        .imgCard {
            width: 100%;
            border-top-right-radius: 30px;
        }

        .overlay {
            position: absolute;
            inset: 0;
            display: flex;
            align-items: flex-end;
            background:
                linear-gradient(transparent, rgba(0, 0, 0, .7), black);
            width: 100%;
            border-top-right-radius: 30px;
            transition: all 500ms ease-in-out;

            &:hover {
                opacity: 0;
            }

            .ratings {
                position: absolute;
                top: 0;
                right: 0;
                background: #000;
                color: #fff;
                border-radius: 50%;
            }

            .info {
                padding: 1rem;
                gap: 2rem;
                color: #fff;

                .popular {
                    display: flex;
                    align-items: center;
                    gap: .2rem;

                    .people {
                        font-size: 20px;
                    }
                }

                .title {
                    margin-bottom: .5rem;

                    @media screen and (min-width: 768px) {
                        margin-bottom: 1rem;
                    }
                }

                .genre {
                    display: flex;
                    flex-wrap: wrap;
                    gap: .5rem;

                    .lis {
                        border: 1px solid #fff;
                        padding: .5rem .5rem;
                        font-family: $secondary-font;
                        font-size: 14px;
                        opacity: .95;
                    }
                }
            }
        }
    }
}

.general {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, .7fr));

    @media screen and (max-width: 350px) {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    @media screen and (min-width: 650px) {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .displayCard {
        width: 100%;

        .overlay {
            .info {
                .genre {
                    display: none;
                }
            }
        }
    }
}