@use '../../scss/utils/functions'as fn;
@use '../../scss/global/colors'as *;

.navigation {
    .header {
        width: 100%;
        background-color: $Dark-bg;
        color: $Dark-headings;
        height: 5rem;
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 10;

        @media screen and (min-width: 768px) {
            height: 5.5rem;
        }

        .nav {
            width: 100%;
            position: relative;
            margin-inline: 1.5rem;
            max-width: 1440px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and (min-width: 1440px) {
                margin-inline: auto;
            }

            .logo {
                width: fn.rem(40);
                margin-top: .7rem;

                @media screen and (min-width: 768px) {
                    width: fn.rem(48);
                }
            }

            .menu {
                display: flex;
                column-gap: 4rem;


                @media screen and (max-width: 767px) {
                    display: none;
                }

                .ul {
                    .li {
                        .link {
                            color: $Dark-headings;

                            &:hover {
                                color: $Primary-color;
                            }
                        }

                        .active~.line {
                            width: 100%;
                            height: fn.rem(2);
                            background-color: $Primary-color;
                            margin-top: .1rem;
                        }
                     &:hover .line{
                        width: 100%;
                        height: fn.rem(2);
                        background-color: $Primary-color;
                        margin-top: .1rem;
                     }


                    }
                }
            }
            .actions{
                display: flex;
                gap: 1rem;
            }
        }
    }
}